body {
  background-color: rgb(237,214,212);
  color: rgb(102,70,77);
  font-size: 18px;
  line-height: 1.1;
}

h1 {
  font-family: 'Source Serif 4', serif; 
  color: rgb(43, 5, 13);
  text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff, 
    -1px 1px 0 #fff, 
    1px 1px 0 #fff;
  
  font-size: 5rem; 
  text-align: center; 
  white-space: nowrap; 
  width: 0; 
  animation: typeWriter 2s steps(15) forwards; 
}

@keyframes typeWriter {
  from {
    width: 0; 
  }
  to {
    width: 100%; 
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Source Serif 4', serif; 
  color: rgb(219, 206, 207);
}

header {
  background-color: rgb(160,123,116);
  color: #fff;
  padding: 10px;
  text-align: left;
}

.home {
  text-align: center;
  padding: 60px 0;
  transition: background-color 0.3s ease; 
}

.home h2 {
  font-size: 2.5rem;
  color: rgb(102,70,77);
  transition: font-size 0.3s ease; 
}

.home p {
  font-size: 1.2rem;
  margin-top: 20px;
  color: rgb(102,70,77);
  transition: font-size 0.3s ease, margin-top 0.3s ease; 
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6347;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease; 
}

.btn:hover {
  background-color: #c0392b;
  transition: background-color 0.3s ease; 
}

.home-enter {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav ul {
  list-style: none;
  padding: 0;
  }

nav ul li a {
  display: inline;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(102,70,77);
  font-weight: bold;
  }

  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }

  nav ul li a:hover {
    color: #fff;
  }

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 10px; 
  justify-content: space-around; 
  align-items: center; 
  margin: 30px;
  }

.produto {
  background-color: rgb(225, 199, 199);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
}

.buttonAdicionar {
  border-radius: 30px;
  background-color: rgba(86, 116, 82, 0.867);
  padding: 8px;
  border: 1px;
  transition: transform 0.2s;
}

.buttonAdicionar:hover {
  transform: scale(1.1);
}

.produto img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.produto img:hover {
  transform: scale(1.05);
}

.produto h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.produto p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.preco {
  font-size: 1.2rem;
  color: rgb(102,70,77);
  font-weight: bold;
}

.buy-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: #ff4500;
}

.carrinho {
  background-color: rgba(243, 245, 244);
  border-radius: 35px; 
  padding: 10px;
  max-width: 200px;
  position: fixed;
  top: 0;
  right: 1px;
  z-index: 1;
  overflow-y: auto;
  max-height: 60vh;
  text-align: center;
}

.visualizacao-pedido h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.botao-finalizar {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  margin-top: 10px;
}

.botao-finalizar:hover {
  background-color: #ec5858;
}

.carrinho img {
  width: 85px; 
  height: auto; 
 }

.carrinho li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 5px; 
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.carrinho button {
  padding: 5px 8px; 
  font-size: 0.7rem; 
  border-radius: 35px;
}

.carrinho button:hover {
  background-color: #ec5858;
}

.sobre {
  padding: 20px;
  background-color: rgb(225, 199, 199);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sobre:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sobre-title {
  font-size: 24px;
  color: rgb(202,125,114);
  margin-bottom: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.sobre-text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 12px;
  line-height: 1.5;
}

.sobre-signature {
  font-size: 14px;
  font-style: italic;
  color: #fff;
  text-align: right;
}

/* Animação para o título */
.sobre-title::after {
  content: '';
  display: block;
  height: 2px;
  width: 50%;
  background-color: #333;
  margin-top: 8px;
  transition: width 0.3s ease;
}

.sobre-title:hover::after {
  width: 100%;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(160,123,116);
  color: #675252;
}

.redes-sociais a {
  text-decoration: none;
  color: rgb(224,207,197);
  font-size: 1.2rem;
  margin-right: 10px;
}

.endereco p {
  font-size: 1rem;
  margin: 5px 0;
}

footer p {
  font-size: 0.8rem;
}

@media screen and (max-width: 1025px) {
  .produtos {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 3fr); 
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
}

@media screen and (max-width: 768px) {
  .produtos {
    grid-template-columns: 3fr; 
    margin: 10px 0; 
  }
}